name: Laravel CI/CD Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Test SSH Connection
      uses: appleboy/ssh-action@v0.1.7
      with:
        host: ${{ secrets.CPANEL_HOST }}
        username: ${{ secrets.CPANEL_USER }}
        key: ${{ secrets.CPANEL_SSH_KEY }}
        port: 22
        script: |
          echo "CONNECTED SUCCESS"
          whoami
          pwd
